/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
                $ GENERAL STYLING
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
                $ REUSABLE STYLE
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.main-heading,
.heading-secondary,
.heading-terinary {
  color: hsl(210, 10%, 33%);
}

.main-heading {
  /* color: hsl(210, 10%, 33%); */
  line-height: 1.2;
  padding-top: 1.6rem;
}

.heading-secondary {
  /* color: hsl(210, 10%, 33%); */
  text-align: center;
  line-height: 1.4;
}

.heading-terinary {
  /* color: hsl(210, 10%, 33%) */
  font-size: 1.8rem;
}

.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  box-shadow: 0 1.6rem 2.4rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.ios:link,
.ios:visited {
  background-color: hsl(171, 66%, 44%);
}

.ios:hover,
.ios:active {
  background-color: hsl(171, 66%, 60%);
}

.mac:link,
.mac:visited {
  background-color: hsl(233, 100%, 69%);
}

.mac:hover,
.mac:active {
  background-color: hsl(233, 100%, 75%);
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
                $ MAIN STYLING
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.header {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;

  display: grid;
  justify-content: center;
  align-items: center;
}

.header-container {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.header-btn {
  display: flex;
  gap: 1.6rem;
}

.logo {
  width: 8rem;
  height: 8rem;
}

.header-text {
  color: hsl(201, 11%, 66%);
  line-height: 1.6;
  font-size: 1.6rem;
  width: 65%;
  text-align: center;
}

/* main */
.main {
  padding: 10rem 8rem;
}

.how {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 8rem;
  align-items: center;
  /* column-gap: 4rem; */
}

.how-intro {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.how-text {
  color: hsl(201, 11%, 66%);
  font-size: 1.4rem;
  line-height: 1.6;
  width: 45%;
  text-align: center;
}

.how-img {
  width: 100%;
}

.how-features {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.feature-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.how-features-text {
  color: hsl(201, 11%, 66%);
  font-size: 1.6rem;
  line-height: 1.6;
  width: 65%;
}

/* Accesss */
.access {
  grid-column: 1 / -1;

  display: grid;
  justify-items: center;
  gap: 6rem;
}

.access-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.access-intro .how-text {
  width: 80%;
}

.access-img {
  width: 65%;
}

/* Workflow */
.workflow {
  padding-top: 6rem;

  display: grid;
  justify-content: center;
  gap: 6rem;
}

.workflow-text {
  text-align: center;
  color: hsl(201, 11%, 66%);
  font-size: 1.4rem;
  line-height: 1.6;
  width: 75%;
}

.workflow-intro .workflow-text {
  width: 100%;
  margin-top: 0.6rem;
}

.workflow-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.workflow-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.6rem;
}

.workflow-img {
  width: 3.2rem;
  height: 3.2rem;
}

/* clipboard-features */
.clipboard-features {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: center;

  padding: 3.2rem 0;
}

.company-logo {
  width: 9rem;
}

.app {
  padding-top: 8rem;

  display: grid;
  justify-items: center;
  gap: 1.6rem;
}

.app-text {
  color: hsl(201, 11%, 66%);
  font-size: 1.4rem;
  width: 45%;
  line-height: 1.6;
  text-align: center;
}

.app-btn {
  padding-top: 3.2rem;

  display: flex;
  gap: 2.4rem;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
                $ FOOTER STYLING
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/* footer */
.footer {
  background-color: hsl(201, 11%, 97%);
  padding-top: 3.2rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer div:first-child {
  display: flex;
  align-items: center;
  gap: 9.6rem;
}

.footer-logo {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 auto;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.8rem;
}

.footer-item {
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-size: 1.5rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: hsl(171, 66%, 44%);
}

/* social-link */
.social-link {
  display: flex;
  gap: 1.6rem;
}

.social-img {
  width: 2.4rem;
  height: 2.4rem;
  color: hsl(210, 10%, 33%);
  transition: all 0.3s;
  cursor: pointer;
}

.social-img:hover {
  color: hsl(171, 66%, 44%);
}

.attribution {
  padding-top: 2.4rem;
  grid-column: 1 / -1;

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
                $ MEDIA QUERIES
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
/*$$$$$$$$$$$$$$$
    # Below: 1200px
$$$$$$$$$$$$$$$$*/
@media (max-width: 75em) {
  .how {
    grid-template-columns: 500px 1fr;
  }

  .how-text {
    width: 60%;
  }

  .access .how-text {
    width: 50%;
  }

  .how-features-text {
    width: 100%;
  }
}

/*$$$$$$$$$$$$$$$
    # Below: 1000px
$$$$$$$$$$$$$$$$*/
@media (max-width: 62.5em) {
  .main {
    padding: 10rem 5rem;
  }

  .how {
    grid-template-columns: 400px 1fr;
    column-gap: 6rem;
  }

  .header-container {
    padding-top: 13rem;
  }

  .header-btn {
    padding-top: 1.8rem;
  }

  .workflow-text {
    width: 100%;
  }

  .app-text {
    width: 60%;
  }
}

/*$$$$$$$$$$$$$$$
    # Below: 800px
$$$$$$$$$$$$$$$$*/
@media (max-width: 50em) {
  .how {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .how-img-cont {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .how-img {
    width: 70%;
  }

  .how-intro .how-text {
    width: 75%;
  }

  .access .how-text {
    width: 60%;
  }

  .how-features {
    text-align: center;
    gap: 4rem;
  }

  .access-img {
    width: 80%;
  }

  .feature-box {
    align-items: center;
  }

  .how-features-text {
    width: 60%;
  }

  .workflow-feature {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .workflow-text {
    width: 50%;
  }

  .clipboard-features {
    gap: 2.4rem;
  }

  .footer div:first-child {
    justify-self: end;
    gap: 6rem;
  }
}

/*$$$$$$$$$$$$$$$
    # Below: 600px
$$$$$$$$$$$$$$$$*/
@media (max-width: 37.5em) {
  .main {
    padding: 10rem 2rem;
  }

  .main-heading {
    padding: 0 2.4rem;
    text-align: center;
  }

  .header-text {
    width: 80%;
  }

  .how-features-text {
    width: 80%;
  }

  .how-intro .how-text,
  .access .how-text {
    width: 90%;
  }

  .how-img-cont {
    width: 90%;
  }

  .how-img {
    width: 100%;
  }

  .access-img {
    width: 100%;
  }

  .workflow-text {
    width: 80%;
  }

  .clipboard-features {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .app-text {
    width: 80%;
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  .footer div:first-child {
    justify-self: center;
    flex-direction: column;
    gap: 3.2rem;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-list {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.4rem;
  }

  .social-link {
    padding-top: 2.4rem;
    gap: 3.2rem;
  }
}

/*$$$$$$$$$$$$$$$
    # Below: 400px
$$$$$$$$$$$$$$$$*/
@media (max-width: 25em) {
  .header-container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .main-heading {
    font-size: 3rem;
    padding: 0;
  }

  .main-heading {
    width: 100%;
  }

  .header-text {
    width: 100%;
  }

  .header-btn {
    flex-direction: column;
  }

  .how-features {
    gap: 5rem;
    padding-bottom: 6rem;
  }

  .how-intro .how-text,
  .access .how-text {
    width: 100%;
  }

  .workflow-text {
    width: 100%;
  }

  .app-text {
    width: 100%;
  }

  .app-btn {
    flex-direction: column;
  }

  .btn-link:link,
  .btn-link:visited {
    padding: 1.6rem 8rem;
  }
}
